/*
Navbar Fonts
*/

.navbar-font{
  display: inline;
  font-family: 'tahoma';
  font-size: 28px;
  color: white;
  padding: 0px;
  margin: 0px;
}
.navbar-link-font{
  display: inline;
  font-family: 'tahoma';
  font-size: 24px;
  color: white;
  margin: 0px;
  padding-bottom: 0px; padding-top: 0px;
  padding-left: 10px; padding-right: 10px;
}
.navbar-link-subfont{
  display: inline;
  font-family: 'tahoma';
  font-size: 20px;
  color: white;
  margin: 0px;
  padding-bottom: 0px; padding-top: 0px;
  padding-left: 10px; padding-right: 10px;
}


/*
Headings
*/
.index-title-text{
  font-size: 64px;
  font-family: 'courier new';
  color: white;
  font-weight: bold;
  padding-left: 20px; padding-right: 20px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
.title-text{
  font-size: 48px;
  font-family: 'courier new';
  color: #001c42;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}
.subtitle-text{
  font-size: 28px;
  font-family: 'courier new';
  font-weight: bold;
  color: #001c42;
}
.section-heading-text{
  font-size: 24px;
  font-family: 'arial';
  padding: 0px;
  margin: 0px;
}
.attribute-header{ /* Dash main page; bold indicators */
  font-size: 20px;
  font-family: 'arial';
  font-weight: bold;
  color: #001c42;
  padding: 0px;
  margin: 0px;
}
.attribute-name{ /*Table Headers*/
  font-size: 16px;
  font-family: 'arial';
  font-weight: bold;
  color: white;
  padding: 0px;
  margin: 0px;
}
.metrics-overlay {
  font-size: 24px;
  font-family: 'courier new';
  color: #001c42;
  font-weight: bold;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

/*
Plain Text
*/

.attribute-value{ /*Table contents and main paragraphs */
  font-size: 16px;
  font-family: 'arial';
  color: #000000;
  padding: 0px;
  margin: 0px;
}
.attribute-subtext{ /* Index small grey descriptor text */
  align-self: left;
  font-size: 16px;
  font-family: 'arial';
  color: #cccccc;
  padding-left: 0px; padding-right: 0px;
  padding-top: 8px; padding-bottom: 8px;
  margin: 0px;
}


/*
Modal Text
*/
.modal-header-text{
  font-size: 20px;
  font-family: 'courier new';
  font-weight: bold;
  color: #000000;
  padding: 0px;
  margin: 0px;
}
.modal-text{
  font-size: 18px;
  font-family: 'courier new';
  color: #000000;
  padding: 0px;
  margin: 0px;
}
.excipient-text{
  display: inline;
  font-size: 16px;
  font-family: 'arial';
  color: #000000;
  padding: 0px;
  margin: 4px;
}


/*
Buttons
*/

.btn-text{
  font-size: 14px;
  font-family: 'tahoma';
  font-weight: bold;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-large-text{
  font-size: 22px;
  font-family: 'tahoma';
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-small-text{
  margin: 4px;
  padding-left: 4px; padding-right: 4px;
  padding-top: 0px; padding-bottom: 0px;
}


/*
Added Color / Colorful text
*/
.addition-text{
  font-size: 16px;
  font-family: 'arial';
  font-weight: bold;
  color: #00D100;
  padding: 0px;
  margin: 0px;
}
.edit-text{
  font-size: 16px;
  font-family: 'arial';
  font-weight: bold;
  color: #FFA500;
  padding: 0px;
  margin: 0px;
}
.removal-text{
  font-size: 16px;
  font-family: 'arial';
  font-weight: bold;
  color: #E50000;
  padding: 0px;
  margin: 0px;
}
.big-status-text{
  font-family: 'georgia';
  font-size: 84px;
  font-weight: bold;
  color: #001c42;
  margin: 0px;
  padding: 0px;
  text-shadow: -1px -1px #185e9c;
}
.big-status-text:hover{
  font-family: 'georgia';
  font-size: 84px;
  font-weight: bold;
  color: #1e75bc;
  text-shadow: -1px -1px #185e9c;
}
.text-black{color: #000000;}
.text-white{color: #ffffff;}


/*
BEGIN MEDIA QUERY FOR LAPTOP SCREENS
This project was developed on a full resolution monitor.
Scale down the font size for laptop monitors.
*/

@media only screen and (max-width: 1400px) {
  /* Navbar Fonts */
  .navbar-font{font-size: 24px;}
  .navbar-link-font{font-size: 18px;}
  .navbar-link-subfont{font-size: 16px;}

  /* Headings */
  .index-title-text{
    padding: 0px; margin: 0px;
    font-size: 48px;
  }
  .title-text{font-size: 38px;}
  .subtitle-text{font-size: 24px;}
  .section-heading-text{font-size: 22px; display: inline;}
  .attribute-header{font-size: 16px;}
  .attribute-name{font-size: 14px;}

  /* Plain Text */
  .attribute-value{font-size: 14px;}
  .attribute-subtext{font-size: 12px;}

  /* Modal Text */
  .modal-header-text{font-size: 24px;}
  .modal-text{font-size: 18px;}
  .excipient-text{font-size: 16px;}

  /* Buttons */
  .btn-text{font-size: 14px;}
  .btn-large-text{font-size: 18px;}

  /* Added Color / Colorful text */
  .addition-text{font-size: 16px;}
  .edit-text{font-size: 16px;}
  .removal-text{font-size: 16px;}
  .big-status-text{font-size: 72px;}
  .big-status-text:hover{font-size: 72px;}

}
